# Google Gemini API Key
GOOGLE_API_KEY= api key 

# Flask Configuration
FLASK_SECRET_KEY=9347ac45b01aa639eb01147bf706d119b080a28df222e62387cea234441f729c
FLASK_DEBUG=true
PORT=5001

# Model Configuration
MODEL_NAME=gemini-2.5-flash
TEMPERATURE=0.7
MAX_TOKENS=3000
GEMINI_TIMEOUT=30
GEMINI_MAX_RETRIES=3
